:root {
    --button-font-color: #f0f0f0;
    --button-color: #ECA869;
    --button-color-hover: rgba(236, 168, 105, 0.8);
    --button-color-green: #7bd567;
    --button-color-green-hover: rgba(123, 213, 103, 0.8);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    margin: 0;
    padding: 0;
}

.quiz-index {
    background-image: url(../images/background.png);
    image-orientation: from-image;
    background-size: cover;
    background-position: center;
    min-height: calc(100vh - 80px);
}

.quiz {
    background-image: url(../images/background.png);
    image-orientation: from-image;
    background-size: cover;
    background-position: center;
    min-height: calc(100vh - 143px);
}

.ranking {
    background-image: url(../images/background.png);
    image-orientation: from-image;
    background-size: cover;
    background-position: center;
    min-height: calc(100vh - 143px);
}

.avatar-img {
    width: 75px;
    height: 75px;
    image-orientation: from-image;
    background-size: cover;
    background-position: center;
}

.ranking-img {
    width: 200px;
    height: 200px;
}

.dog-image {
    image-orientation: from-image;
    background-size: cover;
    background-position: center;
}

.dog-input {
    outline: 1rem solid transparent;
    transition: outline-color .2s ease-in-out;

}

.dog-input:hover {
    outline-color: rgba(171, 160, 87, 0.5);
    cursor: pointer;
}

.dog-image-curiosity {
    image-orientation: from-image;
    background-size: cover;
    background-position: center;
    width: auto;
    height: 400px;
}

.form-container {
    background-color: #f0f0f0;
    min-height: calc(100vh - 143px);
}

.glass-effect {
    background: #ffffff33;
    border-radius: 20px;
    box-shadow: 0 4px 30px #0000001a;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.max-w-100 {
    max-width: 100%;
}

.button-color {
    background-color: var(--button-color) !important;
    color: var(--button-font-color) !important;
}

.button-color:hover {
    background-color: var(--button-color-hover) !important;

}

.button-color-green {
    background-color: var(--button-color-green) !important;
    color: var(--button-font-color) !important;
}

.button-color-green:hover {
    background-color: var(--button-color-green-hover) !important;

}

.profile-background {
    background-image: url(../images/dog-profile-background.jpg);
    image-orientation: from-image;
    background-size: cover;
    background-position: center;
    min-height: calc(100vh - 143px);
}

@media only screen and (max-width: 426px) {
    .max-w-100 {
        height: auto;
    }
}