* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    margin: 0;
    padding: 0;
}

.quiz-index {
    background-image: url(../images/background.png);
    image-orientation: from-image;
    background-size: cover;
    background-position: center;
    min-height: calc(100vh - 80px);
}

.quiz {
    background-image: url(../images/background.png);
    image-orientation: from-image;
    background-size: cover;
    background-position:center;
    min-height: calc(100vh - 143px);
}
.ranking {
    background-image: url(../images/background.png);
    image-orientation: from-image;
    background-size: cover;
    background-position:center;
    min-height: calc(100vh - 143px);
}
.ranking-img {
    width: 100px;
    height:100px;
}

.dog-image {
    image-orientation: from-image;
    background-size: cover;
    background-position: center;
}
.dog-input{
    outline: 1rem solid transparent;
    transition: outline-color .2s ease-in-out;

}
.dog-input:hover
{
    outline-color: rgba(171, 160, 87, 0.5);
    cursor: pointer;
}

.dog-image-curiosity {
    image-orientation: from-image;
    background-size: cover;
    background-position: center;
    width: auto;
    height: 400px;
}

.form-container{
    background-color: #f0f0f0;
    min-height: calc(100vh - 143px);
}

.glass-effect
{
    background: #ffffff33;
    border-radius: 20px;
    box-shadow: 0 4px 30px #0000001a;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    }